.App-wrapper, nav {
  max-width: 1200px;
  margin: 0 auto;
}
.App-logo {
  margin-right: 0.5rem;
}

.App-load {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}